body {
    background: rgb(183, 225, 228);
}

#bt1_showKetQuaNgayHomQua, #bt1_showKetQuaNgayMai,
#show-ket-qua-bt2,
#show-ket-qua-bt3,
#show-ket-qua-bt4 {
    display: none;
}

#btn-homqua,#btn-ngaymai {
    width: fit-content;
    display: inline-block;
    margin-right: 20px;
}